---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://unpkg.com/htmx.org@1"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
	</head>
	<body>
		<section class="section">
			<div class="container">
			  <h1 class="title">
				Hello World
			  </h1>
			  <p class="subtitle">
				My first website with <strong>Bulma</strong>!
			  </p>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<slot />
			</div>
		</section>
	</body>
</html>
